.create-todo-wrapper {
    margin-top: 5%;
    grid-area: f;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-height: 50%;
    border-radius: 20px;
    box-shadow: 0 0 27px #ccc;
    position: static;
}
.create-todo-wrapper input,select {
    outline: none;
    font-size: large;
    padding: 15px;
    border: none;
    border-bottom: 1px solid black;
}
.create-todo-wrapper button {
    background-color: skyblue;
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-size: large;
    opacity: 0.8;
    transition: 0.3s;
}
.create-todo-wrapper button:hover {
    opacity: 1;
    transition: 0.3s;
}