* {
    margin: 0;
    padding: 0;
}
body {
    background: white;
    overflow-x: hidden;
}
.app-wrapper{
    display: grid;
    grid-template-areas: 
    "t t"
    "l f"; 
    grid-template-columns:
    60% 40%;
    grid-template-rows: 10% 90%;  
}
.title {
    color: white;
    text-align: center;
    position: absolute;
    background-color: skyblue;
    width: 100%;
    line-height: 70px;
}