* {
    margin: 0;
    padding: 0;
}
body {
    background: white;
    overflow-x: hidden;
}
button{
    outline: none;
}
.app-wrapper{
    display: grid;
    grid-template-areas: 
    "t t"
    "l f"; 
    grid-template-columns:
    60% 40%;
    grid-template-rows: 10% 90%;  
}
.title {
    color: white;
    text-align: center;
    position: absolute;
    background-color: skyblue;
    width: 100%;
    line-height: 70px;
}
@media (max-width: 1000px) {
    .app-wrapper{
        grid-template-areas: 
        "t"
        "f"
        "l"; 
        grid-template-columns:
        100%;
        grid-template-rows: 100px 1fr 2fr;  
    }
    .week-todo-wrapper {
        overflow-y: visible;
    }
    .todo-wrapper {
        width: 120%;
    }
    .create-todo-wrapper {
        margin-left: 25%;
        width: 50%;
    }
}